<div class="container">
  <div class="names">
    <form action="text" method="post">
      <div class="playerone"><input type="text" name="name_one" /></div>
      <div class="playertwo"><input type="text" name="name_two" /></div>
      <div class="submit"><input type="submit" submit="Submit" /></div>
    </form>
  </div>
</div>
