<div class="container">
    <div class="names">
<h1>Battle!</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
    <label for="name_one">
        Player 1 name
    </label>
    <input type="text" placeholder="Enter name here" name="name_one">
    <label for="name_two">
        Player 2 name
    </label>
    <input type="text" placeholder="Enter name here" name="name_two">
 <input type="submit" value="Submit">
</form>
</div>
</div>