<div class="container">
  <form action="text" method="post">
    <input type="text" name="name_one" />
    <input type="text" name="name_two" />
    <input type="submit" value="Submit" /><
  </form>
</div>
